{% extends 'base.html' %}

{% block content %}

<div class="container-fluid mt-4 mb-4 py-4 px-4 text-center text-secondary">
  <h1><b>Pawned and owned</b></h1>
  <h3>Pawned and owned is a web application designed to detect the recent data breaches and <br>
    dump found in dark and deep web as well as surface web.</h3>

  <table class="table py-4 mt-4 mb-4 px-4 table-hover">
    <thead>
      <tr>
        <th scope="col">Data</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Credentials</td>
      </tr>
      <tr>
        <td>Personal information index</td>
      </tr>
      <tr>
        <td>Email address</td>
      </tr>

    </tbody>
  </table>

</div>


{% endblock content %}